body {
  background-image: url(./assets/Background.png);
  background-size: cover;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  margin: 0% 15%;
  margin-top: 2%;
}
.header,
.footer {
  display: flex;
  justify-content: space-between;
}
.header .signin,
.footer .signin,
.header .btn {
  margin-left: 20px;
}
.btn {
  border: none;
  background: #000;
  color: #fff;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
  cursor: pointer;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  padding: 2rem 2rem 0 2rem;
  margin-bottom: 3rem;
}
.snipper {
  text-align: center;
}
.codeimg {
  width: 100%;
}
.containerbelow {
  background-color: #fff;
}
.contentbelow {
  display: flex;
  padding: 4% 15%;
  align-items: center;
  justify-content: space-between;
}
.textbelow {
  width: 60%;
}
.img-custom {
  width: 350px;
}
h1 {
  font-size: 2.5rem;
  margin: 0;
}
.footer {
  margin: 0 15%;
  padding-bottom: 4%;
}
