body {
  background-image: url(./assets/Background.png);
  background-size: cover;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  margin: 0% 15%;
  margin-top: 2%;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header .signin,
.header .btn {
  margin-left: 20px;
}
.btn {
  border: none;
  background: #000;
  color: #fff;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.codeimg {
  height: 460px;
  width: 100%;
  background-image: url(./assets/snippetImage.png);
  background-size: contain;
}
.containerbelow {
  background-color: #fff;
  display: flex;
}
.contentbelow {
  margin: 2% 15%;
}
.img-custom {
  height: 100px;
  height: 100px;
  background-image: url(./assets/customizableImage.png);
  background-size: contain;
}
.contentimg {
  height: 100px;
  width: 100px;
}
